@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/*start of card styling */
.card-box{
  max-height: 350px;
  width: 39dvw;
  min-width: 350px;
  border:2px solid yellow;
  display: grid;
  grid-template-rows: 1.2fr 1fr;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin-left: 3rem;
  margin-bottom: 2.8rem;
 box-shadow: 5px -19px 83px -24px rgba(126,224,215,0.86);
-webkit-box-shadow: 5px -19px 83px -24px rgba(126,224,215,0.86);
-moz-box-shadow: 5px -19px 83px -24px rgba(126,224,215,0.86);
  

}
.image-card{
  object-fit: contain;
  overflow: hidden;
}
.footer{
  background-color: rgb(63, 65, 64);
  padding: 8px;
}
.title{
  font-size: 1.2rem;
  font-weight: 600;
}
.description{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  
}
.call-2-action-button{
  margin-left: 1rem;
  border: 1px solid white;
  border-radius: 16px;
  padding: 3px 8px 3px 8px;
  font-size: 0.9rem;
}
.call-2-action-button:hover{
  opacity: 0.6;
  cursor: pointer;
  border-color: rgb(206, 205, 203);
}
.project-section-2 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Optional: Centers the items horizontally within the container */
  padding-top: 3rem;

}

 .social-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: fit-content;
  gap:2vw;
  background-color: rgb(222, 221, 218);
  padding: 5px 10px 5px 10px;
  border-radius: 14px;
  box-shadow: 5px -19px 83px -24px rgba(126,224,215,0.86);
-webkit-box-shadow: 5px -19px 83px -24px rgba(126,224,215,0.86);
-moz-box-shadow: 5px -19px 83px -24px rgba(126,224,215,0.86);
opacity: 0.7;

 }
 #social-media{
  position: relative;
 }
